body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}


header {
    background-color: black;
    padding: 15px ;
    border-bottom: 3px solid red;
}

nav {
    display: flex;
    justify-content: center;
    gap: 35px;
}

nav a {
    color: red;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}


.nazov {
    text-align: center;
    font-size: 45px;
    color: red;
    margin: 40px ;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}


.karta {
    width: 260px;
    background-color: #1a1a1a;
    border: 3px solid red;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}


.karta img {
    width: 100%;
    height: 180px;
    background-color: #2a2a2a; 
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}


.karta p {
    font-size: 18px;
    font-weight: bold;
}


.karta:hover {
    background-color: red;
    color: black;
    
}
.logo {border: 2px solid red;height: 45px;position:absolute;left: 10;margin-top: -13.5px;width: 40px;
  
}