
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d62828; 
    color: white;
}


header {
    
    background-color: #000;
    padding: 18px ;
    
}

nav {
    display: flex;
    justify-content: center;
    gap: 35px;
}

nav a {
    color: #ff4d4d;       
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
   
}

nav a:hover {
    color: white;
    
}


.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;
}


.text-box {
    background: black;
    padding: 35px;
    border-radius: 15px;
    border: 3px solid white;
    width: 450px;
    text-align: center;
    color: white;
    
}

.text-box h1 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #ff4d4d; 
}

.text-box p {
    font-size: 20px;
    margin: 10px 0;
}


.fotka {
    width: 380px;
    border-radius: 15px;
    border: 4px solid black;
    
}
.logo {border: 2px solid red;height: 45px;position:absolute;left: 10;margin-top: -13.5px;width: 40px;
  
}



